<h1 mat-dialog-title>Add new user</h1>
<div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>

<mat-form-field appearance="fill">
  <mat-label>What's your name?</mat-label>
  <input matInput [(ngModel)]="name" name="name">

</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>What's your age?</mat-label>
  <input matInput [(ngModel)]="age" name="age">

</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Where are you from?</mat-label>
  <input matInput [(ngModel)]="country" name="country">

</mat-form-field>

<div mat-dialog-actions>

  <button mat-button mat-dialog-close>Close</button>
</div>
