<div>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search by title</mat-label>

    <input matInput type="text" [(ngModel)]="filters.query">
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search by author</mat-label>

    <input matInput type="text" [(ngModel)]="filters.author">
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search by ISBN</mat-label>

    <input matInput type="text" [(ngModel)]="filters.isbn">
  </mat-form-field>
  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search by publisher</mat-label>

    <input matInput type="text" [(ngModel)]="filters.publisher">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Search by category</mat-label>
    <mat-select>
      <mat-option *ngFor="let subject of subjects" [value]="filters.subject">
        {{subject}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>
