.book-card {
  margin: 0.3rem;
}

.mat-card-title {
  font-size: medium;
}

.book-image {
  height: 25vw;
}

@media only screen and (max-width: 765px) {
  .book-image {
    height: unset;
  }
}


.pointer {
  cursor: pointer;
}
