<mat-card class="book-card">

  <img class=" book-image" mat-card-image src={{book.volumeInfo.imageLinks?.thumbnail}}
    alt="Photo of  {{book.volumeInfo.title}}">
  <mat-card-content>
    {{book.volumeInfo.description | slice:0:200}}...

  </mat-card-content>

  <mat-card-actions>

    <button mat-button (click)="openDialog()">Open</button>
    <button mat-button (click)="openAuthor(book.volumeInfo.authors.toString())">Explore author</button>

    <button mat-button (click)="saveBook(book.id)">Save</button>
  </mat-card-actions>

</mat-card>
